# Ignora la carpeta de dependencias locales, ya que se instalarán dentro del contenedor.
node_modules

# Ignora la carpeta de build local, ya que se generará dentro del contenedor.
dist

# Ignora archivos de entorno locales y logs.
.env*
npm-debug.log
